* {
  margin: 0;
  padding: 0;
  transition: 0.2s;
}

header {
  height: 50px;
  display: flex;
  justify-content: start;
  padding: 2rem;
  align-items: center;
  background-color: #2c3e50;
  color: white;
}

/* src/RecipeBook.css */
.recipe-book {
  display: flex;
}

.recipe-list {
  width: 20%;
  padding: 10px;
}

.recipe-list ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.recipe-item {
  cursor: pointer;
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #cccccc4d;
}

.recipe-item.active {
  background-color: #2c3e50;
  color: white;
}

.recipe-item:hover {
  background-color: #2c3e50;
  color: white;
}

.recipe-details {
  flex: 0.8;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5rem;
  margin: auto;
  margin-top: 1rem;
  display: flex;
}

.recipe-details img {
  max-width: 250px;
  height: auto;
}

.recipe-information {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.recipe-information .title {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
